{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit Expense</h1>
{% else %}
<h1 style="text-align: center;">Add a Monthly Expense</h1>
{% endif %}
<div class="form-container">
<form action="" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ form.as_p }}
    <div style="text-align: center;">
    <input type="submit" value="Submit" class="btn" />
    {% if not object %}
    <br />
    <br />
    <a href="{% url 'income_create' %}" class="btn">Previous</a>
    <a href="{% url 'bills_create' %}" class="btn">Next: Monthly Bills</a>
    </div>
    {% endif %}
</form>
</div>

<script>
    const dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
        format: "yyyy-mm-dd",
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true,
    });

    const selectEl = document.getElementById("id_category");
    M.FormSelect.init(selectEl);
</script>
{% endblock %}