@font-face {
    font-family: 'BankGothic';
    src: url('../Bank-Gothic-Font/BankGothicMediumBT.ttf') format('truetype'),
        url('../Bank-Gothic-Font/BankGothic\ Md\ BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.form-container {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 12px;
    border: solid 5px rgba(220, 187, 87, 0.75);
    max-height: 1100px;
}

h4 {
    color: rgba(220, 187, 87, 0.75);
    text-decoration: underline;
    text-emphasis: bold;
}

h1 {
    font-family: 'BankGothic', sans-serif;
}

td {
    font-family: 'BankGothic', sans-serif;
    font-size: 18px;
}

.recommendations {
    font-family: 'BankGothic', sans-serif;
    font-size: 20px;
    padding: 5px;
}

.calculator-description {
    font-family: 'BankGothic', sans-serif;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h3 {
    font-family: 'BankGothic', sans-serif;
}

.income-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    margin-top: 20px;
    text-align: right;
    background-color: rgb(45, 157, 76);
    font-family: 'BankGothic', sans-serif;
    width: 100vw;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

a:hover {
    color: #dcbb57;
}

.btn {
    background-color: rgb(45, 157, 76);
    font-family: 'BankGothic', sans-serif;
    font-size: 20px;
}

.btn:hover {
    color: #dcbb57;
    background-color: rgb(45, 157, 76);
}

.moneymap-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#home-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#home-buttons a {
    color: black;
}

#home-buttons {
    margin: 10px;
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(45, 157, 76);
    font-size: x-large;
    font-family: 'BankGothic', sans-serif;
}

#home-buttons a:hover {
    color: #dcbb57;
}

.nav-wrapper {
    background-color: rgb(45, 157, 76);
    border-bottom: 2px solid #dcbb57;
    font-family: 'BankGothic', sans-serif;
}

.nav-wrapper a {
    font-size: 20px;
}

#hero {
    width: 100vw;
    height: 81vh;
    background: url("../images/hero-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.row-img {
    width: 100%;
    height: auto;
}

img {
    border-radius: 12px;
}

.table-container {
    margin-left: 0px;
}

div.col.s8.table-col {
    padding: 0px;
}

.homepage-body {
    background: linear-gradient(rgba(220, 187, 87, 0.75), rgba(9, 139, 84, 0.75));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.home-container {
    border-top: 4px solid #dcbb57;
    padding-top: 15px;
    width: 100%;
    font-family: 'BankGothic', sans-serif;
    font-size: large;
}

.homepage-header h1 {
    font-size: 5vw;
    /* color: #dcbb57; */
    text-transform: uppercase;
}

.homepage-header span {
    color: #018060;
}

.homepage-body p {
    font-size: 20px;
    padding-right: 10vw;
}

.homepage-content {
    margin-top: 10vw;
}

#text-box {
    padding-right: 30px;
    padding-left: 30px;
}

#img-box {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.home-text {
    padding-top: 10px;
    font-size: x-large;

}

@media screen and (max-width:1600px) {
    #hero {
        width: 100vw;
        background: url("../images/hero-image.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .form-container {
        width: 100vw;
        margin: 0;
        border-radius: 12px;
        border: solid 5px rgba(220, 187, 87, 0.75);
    }

    .nav-wrapper a {
        font-size: 18px;
    }
}

@media screen and (max-width:900px) {
    .nav-wrapper a {
        font-size: 17px;
    }
}

@media screen and (max-width:820px) {
    .nav-wrapper a {
        font-size: 16px;
    }
}

@media screen and (max-width:790px) {
    .nav-wrapper a {
        font-size: 15px;
    }
}

@media screen and (max-width:740px) {
    .nav-wrapper a {
        font-size: 14px;
    }
}

@media screen and (max-width:710px) {
    .nav-wrapper a {
        font-size: 14px;
    }
}

@media screen and (max-width:680px) {
    .nav-wrapper a {
        font-size: 14px;
    }
}

@media screen and (max-width:650px) {
    .nav-wrapper a {
        font-size: 13.5px;
    }
}

@media screen and (max-width:620px) {
    .nav-wrapper a {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:590px) {
    .nav-wrapper a {
        font-size: 13px;
    }
}

@media screen and (max-width:560px) {
    .nav-wrapper a {
        font-size: 12.5px;
    }

    .brand-logo img {

        width: 22%;

        height: auto;

    }
}

@media screen and (max-width:530px) {
    .nav-wrapper a {
        font-size: 12.25px;
        font-weight: bold;
    }
}

@media screen and (max-width: 515px) {
    h1 {
        font-size: 30px;
    }

    .nav-wrapper a {
        font-size: 11.75px;
    }
}

@media screen and (max-width:500px) {
    .nav-wrapper a {
        font-size: 11px;
    }
}

@media screen and (max-width:470px) {
    .nav-wrapper a {
        font-size: 10.5px;
    }

    .brand-logo img {

        width: 21%;

        height: auto;

    }
}

@media screen and (max-width:450px) {
    .nav-wrapper a {
        font-size: 10.25px;
    }

    .brand-logo img {

        width: 20%;

        height: auto;

    }
}

@media screen and (max-width:420px) {
    .nav-wrapper a {
        font-size: 9.4px;
    }

    .brand-logo img {

        width: 20%;

        height: auto;

    }
}

@media screen and (max-width:400px) {
    .nav-wrapper a {
        font-size: 9px;
    }
}

@media screen and (max-width:400px) {
    .nav-wrapper a {
        font-size: 8.5px;
    }
}