{% extends 'base.html' %} {% block content %}

<h1 style="text-align: center;">Financial Health Calculator</h1>
<div style="text-align: center;">
    <p class="calculator-description">
        Welcome to our Financial Health Calculator! With our tool, you can take
        control of your finances easily. Simply input your yearly income, monthly
        bills, and other expenses, and our intuitive calculator will analyze your
        spending habits to provide personalized recommendations. This will empower you
        to make informed financial decisions, whether you're planning for the future,
        aiming to save more, or seeking to optimize your expenses. Our calculator is
        here to assist you on your journey toward financial well-being. Start
        exploring now and pave the way for a healthier financial future!
    </p>
</div>
<div style="text-align: center;">
    <a href="{% url 'income_create' %}" class="btn">Begin</a>
</div>
{% endblock %}